.display { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px auto;
    text-align: center;
    background-color: ghostwhite;
}
        
.wheater { font-size: 2.5rem; 
    vertical-align: middle;
}

.wheaterlabel { font-size: 2rem; }
        
.unitslabel { font-size: 1.5rem; }

.light { font-size: 1.5rem; 
    vertical-align: text-bottom;
}
        
.button_on { background-color: green;
    border: 5px solid green;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer; }
        
.button_on:hover {border: 5px solid dodgerblue;}
        
.button_off {background-color: gray;
    border: 5px solid gray;}
